body{font-family: 'Crete Round', serif;
    font-family: 'Poller One', cursive;
    font-family: 'Slabo 27px', serif;}
h1{font-size: 45px;}
.color{ color: coral;}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{width:100%;}